body { 
  font-family: 'Roboto', sans-serif;

  background-color: #d8d8d8; 
}

.container {  
  margin: 0 auto;
  
  min-height: 100%;
  width: 100%;
  max-width: 1200px;

  box-sizing: border-box;
}

.header { 
  display: flex;
  justify-content: space-between;
  width: 100%; 
  min-height: 70px;

  background-color: #405770;
}

.head-main { 
  margin-left: 15px;

  color: #a8b4b1;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;

  box-sizing: border-box;
}

.main-content {
  width: 65%;
}

.main-section { margin: 0 15px; }

.main-section img { 
  max-width: 100%;
  
  border-radius: 20px; 
}
.list { padding-left: 18px; }
.item { padding-bottom: 10px; }
.item span{ font-weight: 600; }

.aside-content {
  width: 35%;

  background-color: #c7c2c2;
  box-sizing: border-box;
}

.aside-section {
  margin: 20px auto;

  width: 80%;
}

.aside-avatar {
  margin: 20px auto;

  display: block;
  max-width: 80%;
  height: auto;
  
  border-radius: 20px;
  background-color: #ccc;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70px;

  background-color: #405770;
}

.rs-school {
  margin-right: 10px;

  width: 70px;
  height: 70px;
}

.github-logo {
  margin-right: 10px;

  width: 40px;
  height: 40px;
}

.copyright {
  font-weight: 600;
}

@media screen and ( max-width: 992px ) {

  .main-content { width: 100%; }

  .aside-content {
    padding: 0 15px;
    order: -1;

    display: flex;
    width: 100%;

    box-sizing: border-box;
  }

  .aside-section {
    margin-left: 20px;
    width: 70%;
  }

  .aside-avatar {
    margin-left: 0;
    width: 30%;
  }
}

@media screen and ( max-width: 700px ) {

  .head-main { 
    margin: 20px auto;

    font-size: 28px;
  }

  .aside-content { flex-wrap: wrap; }

  .aside-avatar {
    margin: 20px auto;
    width: 50%;
  }

  .aside-section {
    margin: 0 auto;
    width: 100%;
  }
}